node_modules
.stryker-tmp
reports
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
results.xml
pgats-ci/node_modules/
pgats-ci/.stryker-tmp/
pgats-ci/reports/
pgats-ci/test-results/
pgats-ci/playwright-report/
pgats-ci/blob-report/
pgats-ci/playwright/.cache/
pgats-ci/results.xml
pgats-ci/actions-runner/
